.book-now{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    font-size: 15px;
    margin: 10px 0 10px;
    background-color: rgb(240, 119, 234);
    color:white;
}
.service-details-div{
    height: 260px;
    width: 280px;
    background-color: rgb(241, 207, 241);
    padding:30px;
    border-radius: 10px;
    margin:5px 8px 10px ;
}
.service-image{
    width:100px;
    height: 100px;
    border-radius: 100px;
    margin: 8px 5px;
}